html {
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 100%);
}

.wrapper {
  display: flex;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
}
main {
  display: grid;
  width: 80vw;
  min-height: 65vh;

  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 3rem 1fr;
  grid-template-areas:
    "logo photo"
    "subscribe photo";

  box-shadow: 0px 15px 20px hsla(218, 22%, 67%, 0.7);

  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
}
main .logo-wrapper,
main .subscribe {
  margin: 0;
}
.logo-wrapper {
  grid-area: logo;

  display: flex;

  background: url("../images/logo.svg") no-repeat;
}

.logo {
  margin-left: 11rem;
  height: 2.45rem;
  background-size: contain;
  background-image: url("../images/logo.svg") no-repeat;
}
.subscribe {
  grid-area: subscribe;

  display: flex;
  flex-direction: column;
}
.photo {
  grid-area: photo;
  display: flex;

  width: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/hero-desktop.jpg");
}

.subscribe h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
